body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-size: 3rem;
    color: #D2FAFB;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #D2FAFB;
    font-weight: 600;
}

h5{
    font-size: 1rem;
}

.container-fluid{
    padding: 1% 10% 7%;
    color: #99A8B2;
    height: 100%;
    background-color: #353941;
}

.section-heading{
    margin: 30px;
}

.icon-group{
    margin: 20px auto 30px;
}

.icon-link{
    color: #575555;
    text-decoration: none;
    margin: 10px;
}

.btn{
    margin: 20px;
}
ul{
    list-style-type: none;
}
/* title */

.nav-image{
    margin: 0px 20px;
    width: 30px;
    height: 30px;
}

.navbar{
    padding-bottom: 0%;
}

.title-heading{
    margin-bottom: 66px;
}

.title-row{
    position: relative;
    margin: 10% auto;
    text-align: center;
}

@media (max-width: 1000px){
    .title-row{
        position: relative;
        margin: 33% auto 40%;
        text-align: center;
    }
}

/* contact-me */
.Steve-Jobs-quotation{
    margin: 5%;
    font-size: 2rem;
    font-family: 'Square Peg', cursive;
}

.cmbtn{
    margin: 15px;
}

.copyright{
    margin-top: 10%;
}