body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 2.rem;
    font-weight: 666;
    color: #D2FAFB;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #D2FAFB;
    font-weight: 600;
}

h3,h5{
    font-size: 1.5rem;
    font-weight: 600;
}

a{
    text-decoration: none;
}

.container-fluid{
    padding: 7% 15%;
    color: #99A8B2;
    background-color: #232323;
}

.section-heading{
    margin: 30px;
}

.icon-group{
    margin: 20px auto 30px;
}

.icon-link{
    color: #575555;
    text-decoration: none;
    margin: 10px;
}

/* title */

#title .container-fluid{
    padding: 1% 10% 7%;
    height: 100%;
}

.nav-image{
    margin: 0px 20px;
    width: 30px;
    height: 30px;
}

.navbar{
    padding-bottom: 0%;
}

.title-heading{
    margin-bottom: 88px;
}

.title-row{
    position: relative;
    margin: 30% auto;
    text-align: center;
}

@media (max-width: 1000px){
    .title-row{
        position: relative;
        margin: 60% auto 40%;
        text-align: center;
    }
}

/* profile */
#profile .container-fluid{
    color: #575555;
    background-color: white;
}

#profile h2{
    margin-bottom: 66px;
    color: #575555;
}

.Profile-Image{
    width: 66%;
}

@media (min-width: 1000px){
    .Profile-Image{
        width: 33%;
    }
    .profile-text{
        text-align: left;
    }
}

/* programmer */
#programmer p,h3{
    color: #575555;
}

#programmer a{
    color: #D2FAFB;
}

#programmer a:hover{
    color: #6c8e8f;
}

.progress-row .skills-col{
    margin: 50px auto;
}

.progress{
    margin: 10px;
    height: 1rem;
}

.progress-bar{
    color: black;
}




/* content-creator */
#content-creator .container-fluid{
    padding: 7% 3%;
    color: #575555;
    background-color: white;
}

#content-creator h2{
    color: #575555;
}

#content-creator a{
    color: #575555;
}

#content-creator a:hover{
    color: black;
}

#content-carousel{
    margin-bottom: 50px;
}

.carousel-inner{
    padding: 7% 15%;
}

.carousel-caption{
    top: 0;
    bottom: auto;
}

/* contact-me */
.Steve-Jobs-quotation{
    margin: 5%;
    font-size: 2rem;
    font-family: 'Square Peg', cursive;
}

.cmbtn{
    margin: 15px;
}

.copyright{
    margin-top: 10%;
}